RPC_HOST=127.0.0.1
RPC_PORT=38332
RPC_USER=corecraft
RPC_PASS=corecraft123
ZMQ_HASHBLOCK=tcp://127.0.0.1:28335
ZMQ_HASHTX=tcp://127.0.0.1:28332

# Atividade 3 — TX Monitor
A3_BITCOIN_RPC_URL=http://172.19.0.1:58443
A3_BITCOIN_RPC_USER=teste
A3_BITCOIN_RPC_PASS=teste
A3_ZMQ_HASHTX=tcp://172.19.0.1:58332
A3_ZMQ_HASHBLOCK=tcp://172.19.0.1:58335

# CORS Config
ALLOWED_ORIGINS=*
