# Atividade 2 — Node Activity Panel
A2_BITCOIN_RPC_URL=http://172.19.0.1:38332
A2_BITCOIN_RPC_USER=teste
A2_BITCOIN_RPC_PASS=teste
A2_ZMQ_HASHBLOCK=tcp://172.19.0.1:18123
A2_ZMQ_HASHTX=tcp://172.19.0.1:18123

# Atividade 3 — TX Monitor
A3_BITCOIN_RPC_URL=http://172.19.0.1:58443
A3_BITCOIN_RPC_USER=teste
A3_BITCOIN_RPC_PASS=teste
A3_ZMQ_HASHTX=tcp://172.19.0.1:58332
A3_ZMQ_HASHBLOCK=tcp://172.19.0.1:58335
